test/Test03-Small_Custom/
test/Test04-Twin_Custom/
test/Test05-Matthew/
test/Test06-AOI22/
test/Test07-Single_TA_Column/
src/strapt/__pycache__/
*.egg-info/
build_dist.sh
writeMan.sh
test/Test02-C17/work/__pycache__/
test/Test08-NAND2/work/__pycache__/
