test/Test03-Small_Custom/
test/Test04-Twin_Custom/
test/Test06-AOI22/
test/Test07-Single_TA_Column/
src/strapt/__pycache__/
*.egg-info/
build_dist.sh
writeMan.sh
test/Test02-C17/work/
test/Test02-C17/.vscode/
test/Test08-TRAP_NAND2/work/
test/Test08-TRAP_NAND2/.vscode/
test/Test08-TRAP_NAND2/testRun.sh
test/Test08-TRAP_NAND2/debug/
test/Test09-LUT+Friends/work/__pycache__/
test/Test10-TransLUT/
test/Test11-State_Detection/log/
test/Test11-State_Detection/work/
test/Test11-State_Detection/.vscode/
test/Test11-State_Detection/__pycache__/
test/Test11-State_Detection/_stateLocate_old.py 
test/Test11-State_Detection/debugMiter.py
test/Test11-State_Detection/jkff.py
test/Test11-State_Detection/jkff_io.csv
test/Test11-State_Detection/globals.py
test/Test11-State_Detection/stateLocate.py
test/Test12-TRAPFullCustomRoutes/
test/Test13-LUTFullCustomRoutes/